svg {
  background-color: #FFF;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

svg:not(.active):not(.ctrl) {
  cursor: crosshair;
}

path.linksyn {
  fill: none;
  stroke: #fc575e;
  stroke-width: 4px;
  cursor: default;
  
}
path.link {
  fill: none;
  stroke: #000;
  stroke-width: 4px;
  cursor: default;
  
}
svg:not(.active):not(.ctrl) path.link {
  cursor: pointer;
}

path.link.selected {
  stroke-dasharray: 10,2;
}

path.link.dragline {
  pointer-events: none;
}

path.link.hidden {
  stroke-width: 0;
}

circle.node {
  stroke-width: 1.5px;
  cursor: pointer;
}

circle.node.reflexive {
  stroke: #000 !important;
  stroke-width: 2.5px;
}

text {
  font: 12px sans-serif;
  pointer-events: none;
}

text.id {
  text-anchor: middle;
  font-weight: bold;
}
.info-table-big {
    width:360px;
    height:300px;
    position: absolute;
    padding: 10px;
    z-index: 999;
    border-radius: 5px;
    font-family: sans-serif;
    font-size: 13px;
    background-color: #ebffda;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}
.info-table-small {
    width:300px;
    height:150px;
    position: absolute;
    padding: 10px;
    z-index: 999;
    border-radius: 5px;
    font-family: sans-serif;
    font-size: 13px;
    background-color: #ebffda;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}