html, body{
	background:#aaa url(./images/bg.png);
	color:#00557F;
	font:normal 14px Verdana;
	margin:0px;
	padding:0px;
	min-width:1280px;
	min-height:600px;
}
form, label, 
input, textarea{
	font-size:11px;
}
input, select{
	background:#BBD9FA;
	border:1px solid #4c9ac3;
	height:20px;
	margin:0px 0px 5px 0px;
	width:90px;
}

textarea{
	background:#BBD9FA;
	border:1px solid #4c9ac3;
	height:36px;
	width:480px;
}
#header{
	margin:30px 30px 30px 80%;
	width:15%;
	min-width:190px;
	min-height:30px;
	padding-bottom:30px;
}
#wrap{
	margin:30px auto;
	width:90%;
}
#lineTabs{
	height:30px;
	list-style:none;
	margin:0px auto;
	padding:0px;
	padding-right:30px;
	padding-left:10px;
	width:90%;
}
#lineTabs li{
	display:block;
	float:left;
	margin:0px;
	padding:0px;
	position:relative;
	overflow:visible;
	text-align:center;
	width:220px;
}
#lineTabs li a{
	background:url(./images/tab.png);
	color:#dbdbdb;
	display:block;
	font:normal 14px Verdana;
	height:16px;
	margin:0px -10px;
	outline:none;
	padding:7px 20px;
	position:relative;
	text-decoration:none;
	width:180px;
}
#lineTabs li a.active{
	background:url(./images/tab_act.png);
	color:white;
	z-index:50;
}
#lineTabs li a:hover{
	background:url(./images/tab_act.png);
	color:white;
	z-index:30;
}
#content{
	background:white;
	border:1px solid #4c9ac3;
	display:block;
	float:left;
	clear:left;
	height:auto;
	margin:0px;
	padding:10px;
	position:relative;
	text-align:justify;
	width:100%;
}
#content div{
	background:white;
	display:none;
	height:auto;
	float:left;
	clear:both;
	left:0px;
	margin:0px;
	padding:0px;
	position:static;
	top:0px;
	width:100%;
}
#content div p{
	margin:5px 0px;
	padding:0px;
}
#content button{
        cursor:pointer;
	vertical-align:middle;
	width:35px;
	height:35px;
	margin:2px;
	padding:0;
	position:relative;
}
#content table{
  border-collapse: collapse;
  width:100%;
  border-color:#4c9ac3;
  
}

.CheckBoxClass {
    display: none;
}
.CheckBoxLabelClass{
    padding-left: 22px;
    margin: 2px;
    height: 32px;
    width: 11px;
    display: block;
    border:1px solid darkgrey;
}
.CheckBoxLabelClass:hover{
    cursor: pointer;
    border:1px solid dimgrey;  
}
.LabelSelected{
    border:1px solid dimgrey;  
}
